
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="product_card(product)" class="adidas-card">
    <a th:href="@{/product/{id}(id=${product.id})}" class="adidas-card-link">

        <div class="adidas-card-image">
            <img th:src="@{${product.primaryImageUrl}}" th:alt="${product.name}">

        </div>

        <div class="adidas-card-info">
            <div class="adidas-price-line">
                <th:block th:if="${product.hasPromotion}">
                    <span class="adidas-price-sale">
                        <span th:text="${#numbers.formatDecimal(product.discountedPrice, 0, 'POINT', 0, 'COMMA')}"></span>
                        <span class="currency">₫</span>
                    </span>
                </th:block>

                <th:block th:unless="${product.hasPromotion}">
                    <span class="adidas-price-normal">
                        <span th:text="${#numbers.formatDecimal(product.originalPrice, 0, 'POINT', 0, 'COMMA')}"></span>
                        <span class="currency">₫</span>
                    </span>
                </th:block>
            </div>

            <div class="adidas-original-line" th:if="${product.hasPromotion}">

                <!-- Giá gốc -->
                <span class="adidas-price-old">
                    <span th:text="${#numbers.formatDecimal(product.originalPrice, 0, 'POINT', 0, 'COMMA')}"></span>
                    <span class="currency">₫</span>
                    Giá gốc
                </span>

                <!-- Giảm % -->
                <span class="adidas-discount-percent"
                      th:if="${product.discountType == 'PERCENT'}"
                      th:text="'-' + ${#numbers.formatDecimal(product.promotionDiscountValue, 0, 0)} + '%'">
                </span>

                <!-- Giảm tiền -->
                <span class="adidas-discount-percent"
                      th:if="${product.discountType != null and product.discountType != 'PERCENT'}">
                    -
                    <span th:text="${#numbers.formatDecimal(product.promotionDiscountValue, 0, 'POINT', 0, 'COMMA')}"></span>
                    <span class="currency">₫</span>
                </span>

            </div>

            <h3 class="adidas-product-name" th:text="${product.name}">
                Áo Polo Tennis 3 Sọc Club
            </h3>

            <p class="adidas-product-category" th:text="${product.brand}">
                Performance
            </p>
        </div>

    </a>
</div>

</body>
</html>
