<div th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
    <aside class="sidebar">
        <div class="sidebar-header">
            <h2 class="brand-text">ADIDOS</h2>
        </div>

        <ul class="sidebar-menu">


            <li>

                <a th:href="@{/admin}" class="menu-item">

                    <i class="fas fa-th-large"></i>

                    <span> Dashboard </span>

                </a>

            </li>


            <li>

                <a th:href="@{/admin/users}" class="menu-item">

                    <i class="fas fa-user-shield"></i>

                    <span> Quản lý tài khoản </span>

                </a>

            </li>


            <li class="has-submenu">
                <a href="javascript:void(0)" class="menu-item submenu-toggle">
                    <i class="fas fa-box-open"></i>
                    <span> Quản lý hàng hóa </span>
                </a>
                <ul class="submenu">
                    <li><a th:href="@{/admin/products}"><i class="far fa-circle"></i> Sản phẩm </a></li>
                    <li><a th:href="@{/admin/categories}"><i class="far fa-circle"></i> Danh mục </a></li>
                    <li><a th:href="@{/admin/attributes}"><i class="far fa-circle"></i> Thuộc tính </a></li>
                </ul>
            </li>


            <li>

                <a th:href="@{/admin/orders}" class="menu-item">

                    <i class="fas fa-file-invoice-dollar"></i>

                    <span> Quản lý đơn hàng</span>

                </a>

            </li>


            <li>

                <a th:href="@{/admin/reviews}" class="menu-item">

                    <i class="fas fa-gem"></i> <span> Bình luận</span>

                </a>

            </li>


            <li class="has-submenu">

                <a href="javascript:void(0)" class="menu-item submenu-toggle">
                    <i class="fas fa-tags"></i>
                    <span> Quản lý khuyến mại </span>

                </a>

                <ul class="submenu">

                    <li><a th:href="@{/admin/vouchers}"><i class="far fa-circle"></i> Đơn hàng </a></li>

                    <li><a th:href="@{/admin/promotions}"><i class="far fa-circle"></i> Sản phẩm </a></li>

                </ul>

            </li>

        </ul>

        <div class="sidebar-footer">
            <a th:href="@{/logout}" class="menu-item logout-link">
                <i class="fas fa-power-off"></i>
                <span> Đăng xuất </span>
            </a>
        </div>

    </aside>
</div>