<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/main :: layout_user}">
    <head>
        <title th:fragment="page_title">Adidos | Cửa Hàng qua Cao Cấp</title>
        <th:block th:fragment="page_user_css">
            <link rel="stylesheet" th:href="@{/css/user/index.css}">
        </th:block>
    </head>
    <body>
            <th:block th:fragment="content_user">

                <section class="hero-light">
                    <div class="hero-content-light">

                    </div>
                </section>

                <div class="home-section" th:if="${topPromo != null and !topPromoProducts.isEmpty()}">
                    <h2>SALE KHỦNG: <span th:text="${topPromo.promotionName}"></span></h2>
                    <div class="product-grid">
                        <th:block th:each="product : ${topPromoProducts}">
                            <div th:replace="~{fragments/components :: product_card(${product})}"></div>
                        </th:block>
                    </div>
                    <a href="/khuyen-mai" class="btn-view-all">Xem tất cả</a>
                </div>

                <div class="home-section" th:if="${soonPromo != null and topPromo != null and soonPromo.id != topPromo.id and !soonPromoProducts.isEmpty()}">
                    <h2>SẮP KẾT THÚC: <span th:text="${soonPromo.promotionName}"></span></h2>
                    <div class="product-grid">
                        <th:block th:each="product : ${soonPromoProducts}">
                            <div th:replace="~{fragments/components :: product_card(${product})}"></div>
                        </th:block>
                    </div>
                    <a href="/khuyen-mai" class="btn-view-all">Xem tất cả</a>
                </div>

                <div class="home-section">
                    <h2>Toàn bộ sản phẩm</h2>
                    <div class="product-grid">
                        <th:block th:each="product : ${allProducts}">
                            <div th:replace="~{fragments/components :: product_card(${product})}"></div>
                        </th:block>
                    </div>
                </div>

            </th:block>

        <th:block th:fragment="page_user_js">
            <script th:src="@{/js/user/index.js}"></script>
        </th:block>
    </body>
</html>